# Ignore vendor directory
/vendor

# Ignore composer.lock
composer.lock

# Ignore .env files containing sensitive information
.env

# Ignore user-specific files
/.idea
/.vscode

# Ignore configuration files that may contain sensitive information
/config/*.php

# Ignore database credentials file
/includes/DB.php

# Ignore local development environment files
/.env.local


